body {
  background-color: rgb(69, 69, 69);
  background-image: url('../images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.main {
  font-family: Roboto, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  color: white;
  margin: 0 auto;
  padding: 0;
}

h1 {
  font-size: 2.1rem;
  padding: 0;
  margin: 5px;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: linear-gradient(
    to bottom,
    transparent,
    rgba(255, 165, 0, 0.6) 20%,
    rgba(255, 215, 0, 0.6) 80%,
    transparent
  );
  width: 99vw;
  margin: 0 auto;
}

.bottom {
  padding: 5px;
}

.buttons {
  margin: 10px auto;
}

span {
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: normal;
}

button:disabled {
  border: 0;
  padding: 10px;
  font-weight: bold;
  color: white;
  background-color: rgba(69, 69, 69, 0.5);
}

button:enabled {
  border: 0;
  padding: 10px;
  background: linear-gradient(to bottom, black, grey 80%, silver);
  color: white;
  font-weight: bold;
}

button:enabled:hover {
  color: black;
  background: linear-gradient(to bottom, yellow, orange 30%, gold);
}

.copyright {
  position: fixed;
  transform: translateX(-50%);
  bottom: 3px;
  padding: 0 5px;
  left: 50%;
  color: white;
  font-size: 0.9rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 0 auto;
}

.copyright span {
  font-size: 0.9rem;
}

#div-canvas {
  display: block;
  width: 99vw;
  margin: 0 auto;
  text-align: center;
}

#game-stage {
  height: 85vh;
  margin: 0 auto;
  display: none;
}

#main-menu {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  width: 50%;
}

#volume-control,
#volume-effects {
  vertical-align: middle;
}

label {
  margin-left: 20px;
}

#robot {
  margin-top: 60px;
  height: 60vh;
}

#btn-play {
  position: absolute;
  margin: 0 auto;
  top: 10%;
}
