body {
    background-color: rgb(69, 69, 69);
    margin: 0;
    padding: 0;
}

.main {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: white;
    margin: 0 auto;
    padding: 0;
}

h1 {
    font-size: 2.1rem;
    padding: 0;
    margin: 5px;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(to bottom, transparent, rgba(255, 165, 0, 0.6) 20%, rgba(255, 215, 0, 0.6) 80%, transparent);
    width: 98vw;
}

.bottom {
    padding: 5px;
}

button {
    border: 0;
    padding: 10px;
    background: linear-gradient(to bottom, black, grey 80%, silver);
    color: white;
    font-weight: bold;
}

#div-canvas {
    display: block;
    width: 98vw;
    text-align: center;
}

#game-stage {
    width: 98%;
}